/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/02/2018, 13:46:38
    Author     : brenn
*/
body{
    height: 100%;

}
html{height: 100%;}

.cadastro{
    margin-top: 20vh;
}

.botaologin{

    background-color: green;
}

textarea.materialize-textarea {
    background-color: white;
}

.banner{ 

    height: 200px;
    width: 70%;

}

/*img{
    width: 100%;
    padding: 3%;
}
*/
imgban{
    height: 200px;
    width: 100%;
    padding: 2%;
}

.botaoiniciar{
    margin: 3%;

}

/* Add some margin to the page and set a default font and colour */

body {

    line-height: 1.8em;

}

/* Give headings their own font */

h1, h2, h3, h4 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/* Main content area */

#content {
    margin: 80px 70px;
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

/* Header/footer boxes */

.wideBox {
    clear: both;
    text-align: center;
    margin: 70px;
    padding: 10px;
    background: #ebedf2;
    border: 1px solid #333;
}

.wideBox h1 {
    font-weight: bold;
    margin: 20px;
    color: #666;
    font-size: 1.5em;
}

/* Slots for final card positions */

#cardSlots {
    margin: 0 auto 3em auto;
    background: navy;
    float: right;
}

/* The initial pile of unsorted cards */

#cardPile {
    margin: 0 auto;
    background: green;
    float: left;
}

#cardSlots, #cardPile {
    width: 47%;
    height: 80%;
    padding: .85em;
    border: 2px solid #333;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
    box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
}

/* Individual cards and slots */

#cardSlots div, #cardPile div {
    float: left;
    width: 43%;
    height: 18%;
    padding: .85em;
    padding-top: 40px;
    padding-bottom: 0;
    border: 2px solid #333;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 10px 0 0 10px;
    background: #fff;
}

/**fim do código do jogo**/

.tabs .indicator{
    background-color: green;
}

.tabs .tab a:hover, .tabs .tab a.active{
    color: green;
}

.tabs .tab a{
    color: green;
}

.tituloaula {
    font-size: 30px;
}

nav .brand-logo{
    color: red;

}


.btn, .btn-large{
    background-color: green;
}